@font-face {
  font-family: "tweet-font";
  src: asset_url('PassionOne-Black.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "title-font";
  src: asset_url('PassionOne-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}