<% provide(:title, "About") %>
<h1>About Page</h1>
<P>タスク管理ツールとして使用可能なサイトです</P>
<br>
<P>ログイン時に表示されるPostからタスク内容を登録できます、また管理者情報はseeds.rbに登録されているので確認してみてください</P>
<br>
<P>投稿済みの内容に関してはタイトル部分をクリックすることで内容の変更、削除が可能です</P>
<br>
<P>画面中央のSign Upを押してユーザー登録から始めましょう!</P>
