<% provide(:title, "Top") %>
<% @posts.each do|post| %>
    <div class="posts-index-item">
        <div class="tweet">
            <ul>
            <%= post.content %>
            <%= post.created_at.to_s(:datetime_jp) %>
            </ul>
        </div>
    </div>
<% end %>