<% provide(:title, "Tweet") %>
 <div>
  <%= form_tag(tweet_success_path, method: :post) do %>
    <h3>投稿画面</h3>
    <div>
      <textarea id="textarea" name="string" placeholder="タイトル" class="form-control"></textarea>
    </div>
    <div>
      <textarea id="textarea" name="text" placeholder="投稿内容" class="form-control"></textarea>
    </div>
    <div>
      <input type="submit" class="form-control">
    </div>
  <% end %>
</div>


